<div class="container">
  <div class="item item-a">
    <span class="short-description">The official "Master of None"</span>
  </div>
  <div class="item item-b avatar">
    <img class="avatar-img" src="../assets/images/angel.png">
  </div>
  
{{!-- here will use flexbox to put in buttons, the should be a component --}}
  <div class="item-c">
    <button class="sub-item protein">Protein Counter
      <br>
      {{fa-icon "cutlery"}}
    </button>
  </div>
  <div class="item-d">
    <button class="sub-item quotes">Quotes Recorder
      <br>
      {{fa-icon "quote-left"}}
      {{fa-icon "quote-right"}}
    </button>
  </div>
  <div class="item-e">
    <button class="sub-item exercise">PT Tracker
      <br>
      {{fa-icon "heartbeat"}}
    </button>
  </div>
  <div class="item-f">
    <button class="sub-item captains-log">Captain's Log
      <br>
      {{fa-icon "ship"}}
    </button>
  </div>
</div>