<div class="protein-container">
  
  <div class="protein-item-a">
    <LinkTo @route="index" class="back-home" href="#">
      {{fa-icon "arrow-left"}}
    </LinkTo>
  </div>

  <div class="protein-item-b">
    <h1 id="protein-hello">Hello</h1>
    <label>Enter protein amount</label>
  </div>

  <div class="protein-item-c">
    <div class="beautified-form-input">
      <span class="purple-chunk">gm</span>
        <input
          id="protein-amount"
          type="number" 
          onkeydown={{action "increment"}}
          placeholder="enter protein amount"
          autofocus
        >
    </div>
  </div>
  <BarChart class="protein-item-d" @data={{this.testData}}/>
  <div class="protein-item-f">
      <h3>7 day avg: </h3>
      {{this.proteinAvg}}
      {{this.test}}
  </div>

  <div class="protein-item-e">
    <div>
      <h3>Total for Today: </h3>
      {{this.proteinTotal}}
    </div>
  </div>

</div>